main {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin-top: 80px;
  gap: 80px;
}

main h1 {
  font-size: 4rem;
}

.social-links {
  display: flex;
  margin-top: 32px;
  gap: 20px;
  align-items: center;
}
@media (max-width: 800px) {
  nav {
    display: none;
  }
  main {
    grid-template-columns: 1fr;
    justify-items: center;
  }
  main h1 {
    font-size: 2rem;
  }
}
