.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: white;
  border: 3px solid #9c6137;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  color: #9c6137;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #9c6137;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.btn:hover {
  transform: translateX(0);
  color: #ffffff;
}

.btn:hover::before {
  transform: translateX(0);
}
